
        * {
          margin: 0;
          padding: 0;
       }
       #header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 20px;
          background-color: white;
          color: black;
          height: 30px;
          margin-bottom:10px;
       }
       #header h2{
       font-family: Georgia, serif;
       }

       #nav1 {
          list-style: none;
          margin: 0;
          padding: 0;
          font-size: 18px;
          display: flex;
       }

       #nav1{

       }
       #nav1  a {
          color: black;
          text-decoration: none;
          font-family: Georgia, serif;

       }


       #content {
          text-align: center;
       }

       #content img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          height: 50%;
          width: 35%;
          max-height: 35%;
       }

.button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none;
  text-align: left;
  background-color: #87CEEB ;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  align:left;
}


.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



  .form-control{
     font-family:'Times New Roman', Times, serif;
     font-size:15px;
    }
   .form-control label {
    font-weight: bold; /* Making labels bold */
    margin-bottom: 50px; /* Adding some space between labels */
  }
  .form-control input[type="text"],
  .form-control select,
  .form-control textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-bottom: 10px; /* Adding space below input fields */
    width: 100%; /* Ensuring input fields take full width */
    box-sizing: border-box; /* Including padding and border in width calculation */
    padding: 5px; /* Adding padding for better spacing */
  }



