.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 2px;
  background-color: lightblue
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 10px 20px;
}
.container h4{
font-family: 'Times New Roman', Times, serif;
}
/* nav bar  -- vertical*/

body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    /* Top Navbar */
    .topnavbar {
      background-color: #87CEEB ;
      text-align: center;
      height: 10%;
      display: flex;
       justify-content: space-between;
      padding: 1px;
      margin-bottom:0px;
    }

    /* Vertical Navbar */
    .vertical {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 120px;
      background-color: #87CEEB ;
      position: fixed;
      height: 100%;

    }

    .vertical ul {
        margin: 0;
        padding: 0;
    }


    .vertical a {
      display: block;
      color: white;
      padding: 5px 0;
      font-size: 14px;
      font-family: Georgia, serif;
      text-decoration: none;
    }

    .vertical a:hover {
      background-color:#B0E0E6;
    }

    /* Content */
    .content {
      margin-left: 60px; /* Adjust the margin based on your vertical navbar width */
      padding: 50px;
      width:95%;
      height:90%;
    }

 /* for border b/w vertical nav bar*/
.vertical a{
  border-bottom: 1px solid black;
}

.vertical a:last-child {
  border-right: none;
}

.feedback{
 border: 2px solid black;
 border-radius: 5px;
 padding: 20px;
 width: 40%;
 margin: 0 auto;
 font-family: 'Times New Roman', Times, serif;

}

/* Custom styles for checkboxes */
    .custom-checkbox {
        appearance: none; /* Remove default appearance */
        width: 20px; /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        border: 2px solid black; /* Black border for the checkbox */
    }

    /* Custom styles for checked state */
    .custom-checkbox:checked {
        background-color: green; /* Green background when checked */
    }

    /* Custom styles for check mark */
    .custom-checkbox:checked::after {
        content: '\2714'; /* Unicode check mark character */
        color: white; /* White color for check mark */
    }