{% extends 'adminhome.html' %}

{% block 'body' %}
<center>
    <form method="post" action="{% url 'deletestudent' %}">
        {% csrf_token %}
        <label><b>-- Enter Student Details to Delete --</b></label><br><br>
        <label><b>Program : </b></label>
        <input type="text" name="prgm" required /><br><br>

        <label><b>Department : </b></label>
        <input type="text" name="dept" required/><br><br>

        <label><b>Academic Year : </b></label>
        <input type="text" name="ay"/><br><br>

        <label><b>Semester : </b></label>
        <input type="text" name="sem" /><br><br>

        <input type="submit" value="GET" />
    </form>
</center>
{% endblock %}