{% extends 'adminhome.html' %}
{% load static %}
{% block 'body' %}
      <link type="text/css" rel="stylesheet" href="{% static 'css/adminstudent.css' %}" >

<div id="header">
    <h2 style="align:center;">Admin - Student Module </h2>
    <nav id="nav1">
      <button class="button" onclick="window.location.href='{% url 'viewstudents' %}'"><b>VIEW</b></button>&nbsp;&nbsp;
      <button class="button" onclick="window.location.href='{% url 'addstudent' %}'"><b>ADD</b></button>
    </nav>
</div>

<div id="content">
    <img src="{% static 'images/stubg1.jpg' %}" alt="Center Image" />
</div>
{% endblock %}