{% extends 'adminhome.html' %}
{% load static %}
{% block 'body' %}
     <link type="text/css" rel="stylesheet" href="{% static 'css/adminstudent.css' %}" >


<div id="header">
    <h2>Admin - Faculty Module</h2>
    <nav id="nav1">
        <a href="{% url 'viewfaculty' %}">ViewFaculties</a>&nbsp&nbsp
        <a href="{% url 'addfaculty' %}" >ADD</a>&nbsp&nbsp
        <a href="{% url 'deletefaculty' %}" >DELETE</a>&nbsp&nbsp

    </nav>
</div>

<div id="content">
    <img src="{% static 'images/facultybg1.png' %}" style="widht:50px" alt="Center Image" />
</div>

{% endblock %}