{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}" >
    <link type="text/css" rel="stylesheet" href="{% static 'css/studentstyle.css' %}" >


</head>
<body>
<div class="topnavbar">
  <h2 align="left"><strong>SMS->></strong></h2>
	<h3 align="center">Student Course Management -> (Admin Portal)</h3>
	<h4 align="right" style="color:white">Welcome {{adminuname}}</h4>
</div>

<div class="vertical">
  <ul>
   <a href="{% url 'adminhome' %}"><b>AdminHome</b></a>
   <a href="{% url 'adminstudent' %}"><b>Student</b></a>
   <a href="{% url 'adminfaculty'  %}"><b>Faculty</b></a>
      <a href="{% url 'admincourse' %}"><b>Course</b></a>
   <a href="{% url 'facultycoursemapping' %}"><b>Faculty-Course-Mapping</b></a>
   <a href="{% url 'aviewfeedback0' %}"><b>View Feedbacks of Students</b></a>
      <!-- <li class="services">
      <a>Registrations</a>
       <ul class="dropdown">
           <li><a href="#">Registration History</a></li>
           <li><a href="#">Available Registrations</a></li>

       </ul>
    </li> -->
    <a href="{% url 'regadmin1' %}"><b>Registrations</b></a>
      <a href="{% url 'addcc0' %}"><b>View CC's</b></a>
      <a href="{% url 'adminchangepwd' %}"><b>Change password</b></a>&nbsp;&nbsp;
   <a href="{% url 'AdminLogout' %}"><b>LogOut</b></a>
  </ul>
</div>

<div class="content" style="background-image: url('{% static 'images/clgbg1.jpg' %}'); width:100%; height:100%;">
  <!-- Your page content goes here -->
   {% block 'body' %}
     <center>
         <h3 style="color:green">{{msg}}</h3>
        <img src="{% static 'images/erpimg1.png' %}" width=30% height=50% >
     </center>
	{% endblock %}
</div>


</body>
</html>

