{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}" >
    <link type="text/css" rel="stylesheet" href="{% static 'css/studentstyle.css' %}" >

</head>
<body>
<div class="topnavbar">
     <img src="{% static 'images/scmslogo.png' %}" width="80" height="50" style="margin-right:200px;">
	<h3 align="center" style="font-family: 'Times New Roman', Times, serif;">Student Course Management -> (Admin Portal)</h3>
	<h4 align="right" style="font-family: 'Times New Roman', Times, serif;">Welcome {{adminuname}}</h4>
</div>

<div class="vertical">
  <ul>
   <a href="{% url 'adminhome' %}">Home</a>
   <a href="{% url 'adminstudent' %}">Student</a>
   <a href="{% url 'adminfaculty'  %}">Faculty</a>
   <a href="{% url 'admincourse' %}">Course</a>
   <a href="{% url 'facultycoursemapping' %}">Faculty-Course-Mapping</a>
   <a href="{% url 'aviewfeedback0' %}">View Feedbacks of Students</a>
   <a href="{% url 'regadmin1' %}">Registrations</a>
   <a href="{% url 'addcc0' %}">View CC's</a>
   <a href="{% url 'agiveaccess0'%}">FacultyAccess</a>
   <a href="{% url 'aviewgrievance0'%}">Grievances</a>
   <a href="{% url 'adminchangepwd' %}">Change password</a>&nbsp;&nbsp;
   <a href="{% url 'AdminLogout' %}">LogOut</a>
  </ul>
</div>

<div class="content">
  <!-- Your page content goes here -->
   {% block 'body' %}
     <center>
         <h3 style="color:green;font-family: 'Times New Roman', Times, serif;">{{msg}}</h3>
        <img src="{% static 'images/erpimg1.png' %}" width=30% height=50% >
     </center>
    {% endblock %}
</div>
</body>
</html>

