{% extends 'adminhome.html' %}

{% block 'body' %}
<center>
    <form method="post" action="{% url 'viewstudents' %}">
        {% csrf_token %}
        <label>Program</label>
        <input type="text" name="prgm" required /><br>

        <label>Department</label>
        <input type="text" name="dept" required/><br>

        <label>Academic Year</label>
        <input type="text" name="ay"/><br>

        <label>Semester</label>
        <input type="text" name="sem" /><br>

        <input type="submit" value="GET" />
    </form>
</center>
{% endblock %}