{% extends 'adminhome.html' %}

{% block 'body' %}

<center>
        <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x2705; Feedback Posted by {{c1}}/{{c2}} Students &#x2705;</b></h3><br>
<table border="1" style="font-family: 'Times New Roman', Times, serif;">
    <tr bgcolor="lightblue">
        <td>QUESTIONS</td>
        <td>View Analysis</td>
    </tr>


{% for i in x %}



    <tr>
        <td>{{i.q1}}</td>
        <td><a href="{% url 'aviewfeedback4' '1' ay yr sem dept fid cc sec %}">GET</a></td>
    </tr>
    <tr>
        <td>{{i.q2}}</td>
        <td><a href="{% url 'aviewfeedback4' '2' ay yr sem dept fid cc sec %}">GET</a></td>
    </tr>
    <tr>
        <td>{{i.q3}}</td>
        <td><a href="{% url 'aviewfeedback4' '3' ay yr sem dept fid cc sec %}">GET</a></td>
    </tr>
    <tr>
        <td>{{i.q4}}</td>
        <td><a href="{% url 'aviewfeedback4' '4' ay yr sem dept fid cc sec %}">GET</a></td>
    </tr>
    <tr>
        <td>{{i.q5}}</td>
        <td><a href="{% url 'aviewfeedback4' '5' ay yr sem dept fid cc sec %}">GET</a></td>
    </tr>


{% endfor %}


</table>
</center>
{% endblock %}