{% extends 'adminhome.html' %}

{% block 'body' %}
<center>
    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x2705;  Student Feedback Details &#x2705;  </b></h3>
    <table border="1" style="font-family: 'Times New Roman', Times, serif;">

    <tr align="center" bgcolor="lightblue">
        <td><b>Student ID</b></td>
        <td><b> {{z.sid}} </b></td>
    </tr>
    <tr align="center">
        <td>Faculty ID</td>
        <td>{{z.fid}}</td>
    </tr>
    <tr>
        <td>{{z.q1}}</td>
        <td>{{z.fdb1}}</td>
    </tr>
   <tr>
    <td>{{z.q2}}</td>
    <td>{{z.fdb2}}</td><br>
   </tr>
   <tr>
    <td>{{z.q3}}</td>
    <td>{{z.fdb3}}</td><br>
   </tr>
   <tr>
    <td>{{z.q4}}</td>
    <td>{{z.fdb4}}</td><br>
   </tr>
   <tr>
    <td>{{z.q5}}</td>
    <td>{{z.fdb5}}</td><br>
   </tr>
</table>
</center>

{% endblock %}