{% extends 'adminhome.html' %}

{% block 'body' %}
<center>
    <h3><b>Student Feedback Details</b></h3>
    <table border="1">
    <tr style="text-align:center;">
        <td><b>Questions</b></td>
        <td><b>Answers</b></td>
    </tr>
    <tr>
        <td>Student ID</td>
        <td> {{z.sid}}</td>
    </tr>
    <tr>
        <td>Faculty ID</td>
        <td>{{z.fid}}</td>
    </tr>
    <tr>
        <td>{{z.q1}}</td>
        <td>{{z.fdb1}}</td>
    </tr>
   <tr>
    <td>{{z.q2}}</td>
    <td>{{z.fdb2}}</td><br>
   </tr>
   <tr>
    <td>{{z.q3}}</td>
    <td>{{z.fdb3}}</td><br>
   </tr>
   <tr>
    <td>{{z.q4}}</td>
    <td>{{z.fdb4}}</td><br>
   </tr>
   <tr>
    <td>{{z.q5}}</td>
    <td>{{z.fdb5}}</td><br>
   </tr>
</table>
</center>

{% endblock %}