{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}" >
    <link type="text/css" rel="stylesheet" href="{% static 'css/studentstyle.css' %}" >

</head>
<body>
<div class="topnavbar">
    <img src="{% static 'images/scmslogo.png' %}" width="75" height="50" style="margin-right:100px;">
	<h3 align="center" style="margin-left:100px;">Student Course Management -> (Faculty Portal)</h3>
	<h4 align="right" style="color:white">Welcome {{sfid}}</h4>
</div>

<div class="vertical">
  <ul>
<a href="{% url 'facultyhome' %}">Home</a>
      <a href="{% url 'viewfstudents1' %}">View Students</a>

       <li class="services">
      <a>Courses</a>
       <ul class="dropdown">
           <li><a href="{% url 'facultycourse' %}">My Courses</a></li>
           <li><a href="{% url 'fccontent1' %}">Material</a></li>
           <li><a href="{% url 'fpostintcc0' %}">Internals</a></li>
           <li><a href="{% url 'fhandout0' %}"> Handout</a></li>

       </ul>
    </li>
<a href="{% url 'ffhome' %}">FacultyData</a>
 <a href="{% url 'fshome' %}">StudentData</a>
 <a href="{% url 'fgrievance0' %}">Grievances</a>
<a href="{% url 'fviewfeedback0' %}">View Feedbacks</a>
<a href="{% url 'ftmyprofile' %}">MyProfile</a>
<a href="{% url 'facultyupdtpwd' %}">Change password</a>&nbsp;&nbsp;
<a href="{% url 'facultylogin' %}">LogOut</a>

    </ul>
</div>


<div class="content">
   {% block 'body' %}
     <center>
         <h3 style="font-family: 'Times New Roman', Times, serif; color:red;" >{{msg}}</h3>
        <img src="{% static 'images/erpimg1.png' %}" width=30% height=50% >
     </center>
	{% endblock %}
</div>

</body>
</html>
