{% extends 'adminhome.html' %}

{% block 'body' %}
<h2 align="center"><u>Faculty Mapping Courses</u></h2>
Total no. of courses assigned = {{count}}
 <input class="form-control" id="myInput" type="text" placeholder="Course Title">

<a href="{% url 'addfacultycourse'%}">ADD</a>
<table border="2" class="table table-bordered table-striped">
    <thead>
    <tr bgcolor="lightblue">
        <td>Department</td>
        <td>Program</td>
        <td>Academic Year</td>
        <td>Semester</td>
        <td>Year</td>
        <td>Course Code</td>
        <td>Course Title</td>
        <td>Fcaulty</td>
        <td>Component</td>
        <td>Section</td>
        <td>Faculty Type</td>
    </tr>
    </thead>
    {% for y in fcm %}
    <tbody id="myTable">
     <tr align="center">
         <td>{{y.course.department}}</td>
         <td>{{y.course.program}}</td>
         <td>{{y.course.academicyear}}</td>
         <td>{{y.course.semester}}</td>
         <td>{{y.course.year}}</td>
         <td>{{y.course.coursecode}}</td>
         <td>{{y.course.coursetitle}}</td>
         <td>{{y.faculty}}</td>
         <td>{{y.component}}</td>
         <td>{{y.section}}</td>
         <!-- <td>{{y.type}}</td>   displays either False or True   -->
         <td>
             {% if y.type is True %}
              Course Coordinator
             {% endif %}
             {% if y.type is False %}
             Instructor
             {% endif %}

         </td>

     </tr>
     </tbody>
    {% endfor %}

</table>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}