{% extends 'index.html' %}

{% load static %}
{% block 'body' %}
<body style="background-image: url('{% static 'images/lg2.png' %}'); background-size: cover;">
<center>
<h1><u>Faculty Login</u> </h1>
<h4>{{msg}}</h4>
 </center>
<center>
<form method="post" action="{% url 'checkfacultylogin' %}" >

   {% csrf_token %}
    <table >
        <tr>
            <td>Enter Faculty ID:
            </td>
            <td><input type="text" name="uid" required/></td>
        </tr>

        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>

         <tr>
            <td>Enter Password: </td>
            <td><input type="password" name="pwd" required/></td>
        </tr>

        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>

        <tr align="center">
            <td><input type="submit" value="Login" class="button"/> </td>
            <td><input type="reset" value="Clear" class="button"/></td>
        </tr>

        <tr><td></td></tr>



    </table>
</form>
    </center>
{% endblock %}