{% extends 'facultyhome.html' %}

{% block 'body' %}
<center>
    <h3 style="color:green">{{msg}}</h3>
    <form method ="post" action="{% url 'fccontent1'%}">
        {% csrf_token %}


    <label>Academic Year</label>
    <input type="text" value="" name="ay" required/><br>

    <label>Year</label>
    <input type="number" value="" name="yr" required/><br>


    <label>Semester</label>
    <input type="text" value="" name="sem" required/><br>

    <input type="submit" value="Get"/>
    <input type="clear" value="Clear"/>
    </form>
</center>

{% endblock %}