{% extends 'facultyhome.html' %}
{%block 'body' %}


    <h4 style="color:red; font-family: 'Times New Roman', Times, serif;" align="center">{{msg}}</h4>
 <h3 align="center" style="font-family: 'Times New Roman', Times, serif;">&#x2B06; UPLOAD CONTENT &#x2B06;</h3>
<div class="box">
   <center>

    <form  method="post" action="{% url 'fccontent3' %}" enctype="multipart/form-data">
        {% csrf_token %}
       <label><b>Faculty:</b></label>
       <input type="text" name="faculty" value="{{sfid}}" readonly><br><br>

       <label><b>Course:</b></label>
       <input type="text" name="course" value="{{ccode}}" readonly><br><br>

       <label><b>Description: </b></label>
       <input type="text" name="description" value=" " required/><br><br>

       <label><b>Resource Link: </b></label>
       <input type="url" name="link" value=" " /><br><br>

       <label><b>Content File: </b></label>
       <input type="file" name="file" value=" " /><br><br>

       <input type="submit" value="ADD" class="addbutton"/>
       <input type="clear" value="CLEAR" class="addbutton"/>
    </form>
       </center>
    </div>
{% endblock %}