{% extends 'facultyhome.html' %}

{% block 'body' %}

<center>
   <h3 style="color:green">{{msg}}</h3>
    <form method ="post" action="{% url 'fccontent1'%}">
        {% csrf_token %}
        <tr>
            <td><label>Academic Year:</label></td>
            <td>
                <select name="ay" required>
                    <option value="">--Select--</option>
                    <option value="2023-2024">2023-2024</option>
                    <option value="2022-2023">2022-2023</option>
                </select>
            </td>
        </tr><br><br>

         <tr>
            <td><label>Semester:</label></td>
            <td>
                <select name="sem" required>
                    <option value="">--Select--</option>
                    <option value="ODD">ODD</option>
                    <option value="EVEN">EVEN</option>
                </select>
            </td>
        </tr><br><br>

        <tr>
            <td><input type="submit"  value="Submit" class="addbutton"/></td>
             <td><input type="reset"  value="Clear" class="addbutton"/></td>
        </tr>

    </form>
</center>
{% endblock %}