{% extends 'facultyhome.html' %}

{% block 'body' %}

<center>
    <h3><b>&#x1F511; Access To Post Internals &#x1F511;</b></h3><br>
<div class="box">
    <form method="post" action="{% url 'fpostintcc2' %}"style="font-family: 'Times New Roman', Times, serif;" >
    {% csrf_token %}
        <label><b>Course-ID: </b></label>
        <input type="text" value="{{fcm.course.id}}" name="cid" readonly /><br><br>

        <label><b> CourseCode:</b></label>
        <input type="text" value="{{fcm.course.coursecode}}" readonly /><br><br>


        <label><b> FacultyId: </b></label>
        <input type="number" value="{{fcm.faculty.facultyid}}" name="fid" readonly /><br><br>

        <label><b> Academic Year </b></label>
        <input type="text" value="{{fcm.course.academicyear}}" name="ayr" readonly /><br><br>

        <label><b> Year </b></label>
        <input type="number" value="{{fcm.course.year}}" name="y" readonly /><br><br>

        <label><b> Semester </b></label>
        <input type="text" value="{{fcm.course.semester}}" name="sm" readonly /><br><br>

        <label><b> Enable/Disable to post Internals </b></label>
       <input type="number" name="post" min="0" max="1" required/><br><br>

        <input type="submit" value="SUBMIT" class="addbutton" />
    </form>


</div>
</center>
{% endblock %}