{% extends 'facultyhome.html' %}

{% block 'body' %}

<center>
    <h3><b>&#x1F511; Access To Post Internals &#x1F511;</b></h3>
<div class="box">
    <form method="post" action="{% url 'fpostintcc2' %}" >
    {% csrf_token %}
        <label>Course-ID: </label>
        <input type="text" value="{{c}}" name="sno" readonly /><br>

        <label>CourseCode:</label>
        <input type="text" value="{{ccode}}" readonly /><br>


        <label>FacultyId: </label>
        <input type="number" value="{{sfid}}" name="fid" readonly /><br>

        <label>Academic Year</label>
        <input type="text" value="{{ay}}" name="ayr" readonly /><br>

        <label>Year</label>
        <input type="number" value="{{yr}}" name="y" readonly /><br>

        <label>Semester</label>
        <input type="text" value="{{sem}}" name="sm" readonly /><br>

        <label>Enable/Disable to post Content</label>
       <input type="number" name="sd" min="0" max="1" required/><br><br>

        <input type="submit" value="SUBMIT" class="addbutton" />
    </form>

</center>
</div>
{% endblock %}