{% extends 'facultyhome.html' %}

{% block 'body' %}
<center>

<form method="post" action="{% url 'fpostint3' %}">
    {% csrf_token %}
    <label>Department : </label>
    <input type="text" value="{{dept}}" name="dept" readonly /><br>
    <label>Academic year : </label>
     <input type="text" value="{{ay}}" name="ay" readonly/><br>
    <label>Year : </label>
     <input type="number" value="{{yr}}" name="yr" readonly/><br>

    <label>Semester : </label>
    <input type="text" value="{{sem}}"  name="sem" readonly /><br>

    <label>StudentId : </label>
    <input type="number" value="{{sid}}" name="sid" readonly/><br>

     <label>Course Id : </label>
     <input type="text" value="{{c}}"  name="c" readonly/><br>
    <label>CourseCode : </label>
     <input type="text" value="{{ct}}" name="ct" readonly/><br>

    <label>Section : </label>
    <input type="number" value="{{sec}}" name="sec" readonly /><br>

    <label>Sem1 : </label>
    <input type="text" name="sem1" /><br>

    <label>Sem2 : </label>
    <input type="text" name="sem2"/><br>

    <label>Lab1 : </label>
    <input type="text" name="lab1"/><br>

    <label>Quiz1 : </label>
    <input type="text" name="quiz1"/><br>

      <label>Quiz2 : </label>
    <input type="text" name="quiz2"/><br>

    <label>Quiz3 : </label>
    <input type="text" name="quiz3"/><br>

    <label>Quiz4 : </label>
    <input type="text" name="quiz4"/><br>

    <label>Semend : </label>
    <input type="text" name="semend" /><br>

    <label>LabEnd : </label>
    <input type="text" name="labend"/><br>

    <label>GradePoints : </label>
    <input type="text" name="gp"/><br>

    <label>Grade : </label>
    <input type="text" name="g"/><br>
    <input type="submit" value="POST" />


</form>
</center>
{% endblock %}