{% extends 'facultyhome.html' %}

{% block 'body' %}
<center>
    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x1F5E8; Select Course To View Feedbacks &#x1F5E8;</b></h3><br>
    <input class="form-control" id="myInput" type="text" placeholder="Search .."><br><br>
    <table border="1" style="font-family: 'Times New Roman', Times, serif;">
        <thead>
        <tr bgcolor="lightblue">
            <td>Subject</td>
            <td>AcademicYear</td>
            <td>Cycle</td>
            <td>Semester</td>
            <td>Section</td>
            <td>ViewAnalysis</td>
        </tr>
        </thead>
        {% for i in x %}
        <tbody class="myInput">
        <tr>
            <td>{{i.course.coursecode}} - {{i.course.coursetitle}}</td>
            <td>{{i.course.academicyear}}</td>
            <td>{{i.course.year}}</td>
            <td>{{i.course.semester}}</td>
            <td>{{i.section}}</td>
            <td><a href="fviewfeedback1/{{i.course.coursecode}}/{{i.course.academicyear}}/{{i.course.year}}/{{i.course.semester}}/{{i.section}}">Get</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
</center>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const input = document.getElementById("myInput");
    input.addEventListener("input", filterTable);
});

function filterTable() {
    const filter = document.getElementById("myInput").value.toLowerCase();
    const rows = document.querySelectorAll("tbody tr");
    rows.forEach(row => {
        const cells = row.getElementsByTagName("td");
        let display = "none";
        for (let i = 0; i < cells.length; i++) {
            const cellText = cells[i].textContent || cells[i].innerText;
            if (cellText.toLowerCase().indexOf(filter) > -1) {
                display = "";
                break;
            }
        }
        row.style.display = display;
    });
}
</script>
{% endblock %}