{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--adding css -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<!--<body bgcolor="skyblue"> -->
<body>
<nav class="navbar">
    <div class="logo">SCMS</div>
    <ul class="nav-links">
        <div class="menu" >

<li><a href="{% url 'home' %}">HOME</a></li>&nbsp;&nbsp;&nbsp;
<li><a href="{% url 'about' %}">ABOUT</a></li>&nbsp;&nbsp;&nbsp;
<li class="services">
    <a href="{% url 'login' %}">LOGIN</a>
    <ul class="dropdown">
            <li><a href="{% url 'studentlogin' %}">Student</a></li>
            <li><a href="{% url 'facultylogin' %}">Faculty</a></li>

    </ul>
</li>&nbsp;
<li><a href="{% url  'contactus' %}">CONTACTUS</a></li>&nbsp;&nbsp;&nbsp;
            </div>
    </ul>
</nav>

{% block 'body' %}
<h2 align ="center">SCMS UNIVERITY</h2><br>
<center>
<img src="{% static 'images/idx2.png' %}" height="70%" >
</center>
{% endblock %}
</body>
</html>