{% extends 'index.html' %}

{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/form1.css' %}" />

{% block 'body' %}
<style>
    .login-container h1{
     font-family: "Times New Roman", Times, serif;
    }

    .login-container h4{
     font-family: "Times New Roman", Times, serif;
    }
</style>
<body style="background-image: url('{% static 'images/lg2.png' %}'); background-size: cover;">
    <div class="login-container">
        <h4 align="center" style="color:red;font-family: 'Times New Roman', Times, serif;">{{msg}}</h4><br>
        <h1 align="center" style="font-family: 'Times New Roman', Times, serif;">&#128100; Admin Login</h1><br>
        <center>
            <form method="post" action="{% url 'checkadminlogin' %}" >
                {% csrf_token %}
                <table style="font-family: 'Times New Roman', Times, serif;">
                    <tr>
                        <td><b>Enter Username : </b></td>
                        <td><input type="text" name="uname" required/></td>
                    </tr>
                    <tr><td>&nbsp</td></tr>
                    <tr>
                        <td><b>Enter Password : </b></td>
                        <td><input type="password" name="pwd" required/></td>
                    </tr>
                    <tr><td>&nbsp</td></tr>

                    <tr align="center">
                        <td><input type="submit" value="LOGIN" class="button"/> </td>
                        <td><input type="reset" value="CLEAR" class="button"/></td>
                    </tr>

                </table>
            </form>
        </center>
    </div>
</body>
{% endblock %}
