{% extends 'adminhome.html' %}

{% block 'body' %}

<center>
  <div class="card">

  <div class="container">
   {% if c.s1 %} <h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc1}}  - {{ c.f1 }} - {{c.sec1}}</h4>{% endif %}
     {% if c.s2 %} <h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc2}} - {{ c.f2}} - {{c.sec2}}</h4>{% endif %}
     {% if c.s3 %} <h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc3}} - {{ c.f3}} - {{c.sec3}}</h4>{% endif %}
     {% if c.s4 %} <h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc4}} - {{ c.f4}} - {{c.sec4}}</h4>{% endif %}
     {% if c.s5 %} <h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc5}} - {{ c.f5}} - {{c.sec5}}</h4>{% endif %}
     {% if c.s6 %} v<h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc6}} - {{ c.f6}} - {{c.sec6}}</h4>{% endif %}
     {% if c.s7 %} <h4><b>Course-Faculty-Section:&nbsp&nbsp&nbsp&nbsp</b>{{c.cc7}} - {{ c.f7}} - {{c.sec7}}</h4>{% endif %}

  </div>
</div>
</center>

{% endblock %}