{% extends 'studenthome.html' %}

{% block 'body' %}

<style>
.readonly-field {
    width: 410px;  /* Adjust the width as needed */
}
</style>

<center>

    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x1F4AC;SUBMIT YOUR VALUABLE FEEDBACK &#x1F4AC;</b></h3><br>
    <div class="box">
<form method="post" action="/sfeedback2/{{fid}}/{{cc}}/{{sec}} ">
    {% csrf_token %}

   {{form.as_p}}
    <br>

    <input type="submit" value="SUBMIT" class="addbutton"/>
    <input type="reset" value="CLEAR" class="addbutton"/>


</form>
        </div>
</center>

{% endblock %}