{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
    <h3 style="color:red;font-family: 'Times New Roman', Times, serif;">{{msg}}</h3>
    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x1F4AC; POST FEEDBACK &#x1F4AC;</b></h3><br>
    <table border="1" style="font-family: 'Times New Roman', Times, serif;">
        <tr bgcolor="lightblue">
            <td>Course Code</td>
            <td>Course Title</td>
            <td>Faculty</td>
            <td>Section</td>
            <td>Click</td>
        </tr>
        {% for i in fb %}

        {% if i.cc1 %}
        <tr>
            <td>{{i.cc1.coursecode}}</td>
            <td>{{i.cc1.coursetitle}}</td>
            <td>{{i.fcm1.faculty.facultyid}}-{{i.fcm1.faculty.fullname}}</td>
            <td>{{i.fcm1.section}}</td>
            <td><a href="sfeedback1/{{i.cc1.coursecode}}/{{i.fcm1.faculty.facultyid}}/{{i.fcm1.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% if i.cc2 %}
        <tr>
            <td>{{i.cc2.coursecode}}</td>
             <td>{{i.cc2.coursetitle}}</td>
            <td>{{i.fcm2.faculty.facultyid}}-{{i.fcm2.faculty.fullname}}</td>
            <td>{{i.fcm2.section}}</td>
            <td><a href="sfeedback1/{{i.cc2.coursecode}}/{{i.fcm2.faculty.facultyid}}/{{i.fcm2.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% if i.cc3 %}
        <tr>
            <td>{{i.cc3.coursecode}}</td>
             <td>{{i.cc3.coursetitle}}</td>
            <td>{{i.fcm3.faculty.facultyid}}-{{i.fcm3.faculty.fullname}}</td>
            <td>{{i.fcm3.section}}</td>
            <td><a href="sfeedback1/{{i.cc3.coursecode}}/{{i.fcm3.faculty.facultyid}}/{{i.fcm3.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% if i.cc4 %}
        <tr>
            <td>{{i.cc4.coursecode}}</td>
             <td>{{i.cc4.coursetitle}}</td>
            <td>{{i.fcm4.faculty.facultyid}}-{{i.fcm4.faculty.fullname}}</td>
            <td>{{i.fcm4.section}}</td>
            <td><a href="sfeedback1/{{i.cc4.coursecode}}/{{i.fcm4.faculty.facultyid}}/{{i.fcm4.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% if i.cc5 %}
        <tr>
            <td>{{i.cc5.coursecode}}</td>
             <td>{{i.cc5.coursetitle}}</td>
            <td>{{i.fcm5.faculty.facultyid}}-{{i.fcm5.faculty.fullname}}</td>
            <td>{{i.fcm5.section}}</td>
            <td><a href="sfeedback1/{{i.cc5.coursecode}}/{{i.fcm5.faculty.facultyid}}/{{i.fcm5.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% if i.cc6 %}
        <tr>
            <td>{{i.cc6.coursecode}}</td>
             <td>{{i.cc6.coursetitle}}</td>
            <td>{{i.fcm6.faculty.facultyid}}-{{i.fcm6.faculty.fullname}}</td>
            <td>{{i.fcm6.section}}</td>
            <td><a href="sfeedback1/{{i.cc6.coursecode}}/{{i.fcm6.faculty.facultyid}}/{{i.fcm6.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% if i.cc7 %}
        <tr>
            <td>{{i.cc7.coursecode}}</td>
             <td>{{i.cc7.coursetitle}}</td>
            <td>{{i.fcm7.faculty.facultyid}}-{{i.fcm7.faculty.fullname}}</td>
            <td>{{i.fcm7.section}}</td>
            <td><a href="sfeedback1/{{i.cc7.coursecode}}/{{i.fcm7.faculty.facultyid}}/{{i.fcm7.section}}">Post Feedback</a></td>
        </tr>
        {% endif %}

        {% endfor %}
    </table>
</center>

{% endblock %}