{% extends 'studenthome.html' %}



{% block 'body' %}

<style>

  /* Custom styles for checkboxes */
    .custom-checkbox {
        appearance: none; /* Remove default appearance */
        width: 20px; /* Adjust width as needed */
        height: 20px; /* Adjust height as needed */
        border: 2px solid black; /* Black border for the checkbox */
    }

    /* Custom styles for checked state */
    .custom-checkbox:checked {
        background-color: green; /* Green background when checked */
    }

    /* Custom styles for check mark */
    .custom-checkbox:checked::after {
        content: '\2714'; /* Unicode check mark character */
        color: white; /* White color for check mark */
    }
</style>

<center>
    <h2 style="font-family: 'Times New Roman', Times, serif;"><b>⚠️ My Grievances ⚠️</b></h2><br>
      <input class="form-control" id="myInput" type="text" placeholder="Search .."><br>
    <table border="1" style="font-family: 'Times New Roman', Times, serif;margin-left:50px;">
        <thead>
        <tr bgcolor="lightblue">
            <td>Academic Year</td>
            <td>Semester</td>
            <td>Date and Time</td>
            <td>Category</td>
            <td width="20%;">Issue</td>
            <td>Status</td>
            <td>Solved</td>
        </tr>
        </thead>
        {% for i in x %}
          <tr>
              <td>{{i.ay}}</td>
              <td>{{i.sem}}</td>
              <td>{{i.date}}</td>
              <td>{{i.category}}</td>
              <td>{{i.issue}}</td>
              <td><input type="checkbox" class="custom-checkbox" {% if i.status %}checked{% endif %}   disabled /></td>
              <td><input type="checkbox" class="custom-checkbox" {% if i.solved %}checked{% endif %}   disabled /></td>
          </tr>
        {% endfor %}
    </table>
</center>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const input = document.getElementById("myInput");
    input.addEventListener("input", filterTable);
});

function filterTable() {
    const filter = document.getElementById("myInput").value.toLowerCase();
    const rows = document.querySelectorAll("tbody tr");
    rows.forEach(row => {
        const cells = row.getElementsByTagName("td");
        let display = "none";
        for (let i = 0; i < cells.length; i++) {
            const cellText = cells[i].textContent || cells[i].innerText;
            if (cellText.toLowerCase().indexOf(filter) > -1) {
                display = "";
                break;
            }
        }
        row.style.display = display;
    });
}
</script>
{% endblock %}