{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x1F4DA; Materials Available &#x1F4DA;</b></h3><br>

    <table border="1" style="font-size:16px; font-family: 'Times New Roman', Times, serif;">


        <tr bgcolor="lightblue">
            <th style="width: 4px;"><b>Course</b></th>
            <th style="width: 3px;"><b>Description</b></th>
            <th style="width: 2px;"><b>Link</b></th>
            <th style="width: 2px;"><b>File</b></th>
        </tr>
        {% for i in x %}
        <tr>
            <td>{{i.course}}</td>
            <td>{{i.description}}</td>
            <td>{{i.link}}</td>
            <td><a href="/media/{{ i.contentimage }}">View Material</a></td>
        </tr>
        {% endfor %}
    </table>

</center>

{% endblock %}