{% extends 'studenthome.html' %}

{% block 'body' %}
<h2 align="center" style="color:red">{{msg}}</h2>
<h3 align="center" style="font-family: 'Times New Roman', Times, serif;">&#x25BC; Enter Details &#x25BC; </h3>
<br>
<center>
<div class="box" >
<form method="post" action="{% url 'studentcoursematview1' %}">
    {% csrf_token %}
    <table style="font-family: 'Times New Roman', Times, serif;">

        <tr>
            <td><label><b>Academic Year:</b></label></td>
            <td>
                <select name="ay" required>
                    <option value="">--Select--</option>
                    <option value="2023-2024">2023-2024</option>
                    <option value="2022-2023">2022-2023</option>
                </select>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>
         <tr>
            <td><label><b>Semester:</b></label></td>
            <td>
                <select name="sem" required>
                    <option value="">--Select--</option>
                    <option value="ODD">ODD</option>
                    <option value="EVEN">EVEN</option>
                </select>
            </td>
        </tr>

         <tr><td>&nbsp;</td></tr>

        <tr>
            <td><input type="submit"  value="SUBMIT" class="addbutton"/></td><td>&nbsp;</td>
             <td><input type="reset"  value="CLEAR" class="addbutton"/></td>
        </tr>

    </table>
</form>
    </div>
</center>

{% endblock %}