{% extends 'index.html' %}
{% load static %}
{% block 'body' %}
<body style="background-image: url('{% static 'images/lg2.png' %}'); background-size: cover;">

<center>
    <h4 style="font-family: 'Times New Roman', Times, serif; color:red; font-size:18px; color:red;">{{msg}}</h4>
    <h1 style="font-family: 'Times New Roman', Times, serif;"><b>&#128100; Student Login</b></h1><br>
<form method="post" action="{% url 'checkstudentlogin' %}">

   {% csrf_token %}
    <table style="font-family: 'Times New Roman', Times, serif;">
        <tr>
            <td><b>Enter StudentID: </b></td>
            <td><input type="number" name="uid" required/></td>
        </tr>

       <tr><td>&nbsp</td></tr>

         <tr>
            <td><b>Enter Password: </b></td>
            <td><input type="password" name="pwd" required/></td>
        </tr>

        <tr><td>&nbsp</td></tr>

        <tr align="center">
            <td><input type="submit" value="LOGIN" class="button"/> </td>
            <td><input type="reset" value="CLEAR" class="button"/></td>
        </tr>

        <tr><td></td></tr>



    </table>
</form>
    </center>
{% endblock %}