{% extends 'studenthome.html' %}

{% block 'body' %}
<h4 align="center" style="color:red; font-family: 'Times New Roman', Times, serif;">{{msg}}</h4><br>
<h1 align="center" style="font-family: 'Times New Roman', Times, serif; font-size:18px;"><b>&#x1F503; UPDATE PASSWORD &#x1F503;</b> </h1><br>

<center>
    <div class="box">
<form method="post" action="{% url 'studentupdtpwd' %}" >

   {% csrf_token %}
    <table style="font-family: 'Times New Roman', Times, serif;">
        <tr>
            <td><b>Enter Old Password: </b></td>
            <td><input type="password" name="opwd" required/></td>
        </tr>

         <tr><td>&nbsp;</td></tr>

         <tr>
            <td><b>Enter New Password: </b></td>
            <td><input type="password" name="npwd" required/></td>
        </tr>

        <tr><td>&nbsp;</td></tr>


        <tr align="center">
            <td><input type="submit" value="Update" class="addbutton"/> </td>
            <td><input type="reset" value="Clear" class="addbutton"/></td>
        </tr>





    </table>
</form>
        </div>
</center>
{% endblock %}