{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{% static 'css/studentstyle.css'%}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}" />
</head>
<body>

<!-- Top Navbar -->
<div class="topnavbar">
  <img src="{% static 'images/scmslogo.png' %}" width="80" height="50" style="margin-right:200px;">
	<h2 align="center" style="font-family: 'Times New Roman', Times, serif; color:white; font-size:26px;">Student Course Management -> (Student Portal)</h2>
	<h3 align="right" style="font-family: 'Times New Roman', Times, serif; color:white;">Welcome {{ssid}}</h3>
</div>

<!-- Vertical Navbar -->
<div class="vertical">
  <ul>
   <a href="{% url 'studenthome' %}">Home</a>
    <a href="{% url 'stureg1' %}" >Academic Registration</a>
      <a href="{% url 'viewreghistory' %}" >Registration History</a>


     <li class="services">
      <a>Courses</a>
       <ul class="dropdown">
           <li><a href="{% url 'studentcoursematview1' %}">Material</a></li>
           <li><a href="{% url 'sviewint0' %}">Internals</a></li>
           <li><a href="{% url 'sviewhd1' %}">Handouts</a></li>

       </ul>
    </li>
    <a href="{% url 'ssgpa0' %}">SGPA</a>
    <a href="{% url 'sgrievance0' %}">Grievance</a>
    <a href="{% url 'sfeedback0' %}">Give Feedback</a>
    <a href="{% url 'stmyprofile' %}">MyProfile</a>
    <a href="{% url 'studentchangepwd' %}">Change password</a>
    <a href="{% url 'studentlogin' %}">LogOut</a>
  </ul>
</div>

<!-- Page Content -->
<div class="content" >
  <!-- Your page content goes here -->
   {% block 'body' %}
     <center>
         <h3 style="font-family: 'Times New Roman', Times, serif; color:red; color:red">{{msg}}</h3>
        <img src="{% static 'images/erpimg1.png' %}" width=30% height=50% >
     </center>
	{% endblock %}
</div>

</body>
</html>
