{% extends 'index.html' %}

{% block 'body' %}
<h1 align="center"><u>Student Login</u> </h1>
<h4 align="center" style="color:red">{{msg}}</h4>

<center>
<form method="post" action="{% url 'checkstudentlogin' %}">

   {% csrf_token %}
    <table>
        <tr>
            <td>Enter StudentID: </td>
            <td><input type="text" name="uid" required/></td>
        </tr>

        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>

         <tr>
            <td>Enter Password: </td>
            <td><input type="password" name="pwd" required/></td>
        </tr>

        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>

        <tr align="center">
            <td><input type="submit" value="Login" class="button"/> </td>
            <td><input type="reset" value="Clear" class="button"/></td>
        </tr>

        <tr><td></td></tr>



    </table>
</form>
    </center>
{% endblock %}