{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
    <h3 style="color:darkcyan">Enter Details to perform Registrations</h3>
    <form method="post">
        {% csrf_token %}

        <table >
            <tr>
                {% if m.c1 %}<td bgcolor="lightpink" ><input type="text" value="{{m.c1}}"  name="c1" readonly style="width:80%"/></td>
            </tr>
            <tr>
                <td bgcolor="lightgreen">
                    <select name="faculty_c1">
                       <option value="">--Select--</option>
                        {% if m.f11 %}<option >{{m.f11}}</option>{% endif %}
                        {% if m.f12 %}<option >{{m.f12}}</option>{% endif %}
                        {% if m.f13 %}<option >{{m.f13}}</option>{% endif %}
                    </select>
                </td>
                {% endif %}
            </tr>

            <tr>
                {% if m.c2 %}<td><input type="text" value="{{m.c2}}" name="c2" readonly style="width:80%"/></td>
             </tr>
            <tr>
                <td>

                <select name="faculty_c2">
                    <option value="">--Select--</option>
                    {% if m.f21 %}<option >{{m.f21}}</option>{% endif %}
                    {% if m.f22 %}<option>{{m.f22}}</option>{% endif %}
                    {% if m.f23 %}<option>{{m.f23}}</option>{% endif %}
                </select>
                </td>
                {% endif %}
            </tr>

            <tr>
                {% if m.c3 %}<td><input type="text" value="{{m.c3}}" name="c3" readonly style="width:80%"/></td>
            </tr>
            <tr>
                <td>
                <select name="faculty_c3">
                    <option value="">--Select--</option>
                    {% if m.f31 %}<option>{{m.f31}}</option>{% endif %}
                    {% if m.f32 %}<option >{{m.f32}}</option>{% endif %}
                    {% if m.f33 %}<option>{{m.f33}}</option>{% endif %}
                </select>
                </td>
                {% endif %}
            </tr>
            <tr>
                {% if m.c4 %}<td><input type="text" value="{{m.c4}}" name="c4" readonly style="width:80%"/></td>
            </tr>
            <tr>
                <td>
                <select name="faculty_c4">
                    <option value="">--Select--</option>
                    {% if m.f41 %}<option>{{m.f41}}</option>{% endif %}
                    {% if m.f42 %}<option >{{m.f42}}</option>{% endif %}
                    {% if m.f43 %}<option>{{m.f43}}</option>{% endif %}
                </select>
                </td>
                {% endif %}
            </tr>
            <tr>
                {% if m.c5 %}<td><input type="text" value="{{m.c5}}" name="c5" readonly style="width:80%"/></td>
            </tr>
            <tr>
                <td>
                <select name="faculty_c5">
                    <option value="">--Select--</option>
                    {% if m.f51 %}<option>{{m.f51}}</option>{% endif %}
                    {% if m.f52 %}<option>{{m.f52}}</option>{% endif %}
                    {% if m.f53 %}<option>{{m.f53}}</option>{% endif %}
                </select>
                </td>
                {% endif %}
            </tr>

            <tr>
                {% if m.c6 %}<td><input type="text" value="{{m.c6}}" name="c6" readonly style="width:80% "/></td>
            </tr>
            <tr>
                <td>
                <select name="faculty_c6">
                    <option value="">--Select--</option>
                    {% if m.f61 %}<option >{{m.f61}}</option>{% endif %}
                    {% if m.f62 %}<option>{{m.f62}}</option>{% endif %}
                    {% if m.f63 %}<option>{{m.f63}}</option>{% endif %}
                </select>
                </td>
                {% endif %}
            </tr>

            <tr>
                {% if m.c7 %}<td><input type="text" value="{{m.c7}}" name="c7" readonly style="width:80%"/></td>
            </tr>
            <tr>
                <td>
                <select name="faculty_c7">
                    <option value="">--Select--</option>
                     {% if m.f71 %}<option >{{m.f71}}</option>{% endif %}
                    {% if m.f72 %}<option >{{m.f72}}</option>{% endif %}
                    {% if m.f73 %}<option>{{m.f73}}</option>{% endif %}
                </select>
                </td>
                {% endif %}
            </tr>
            <tr>
                <td>
                    <input type="submit" value="SAVE" />
                </td>

                 <td>
                    <input type="clear" value="CLEAR" />
                </td>
            </tr>
        </table>
    </form>
</center>


{% endblock %}