{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
    <h2 style="font-family: 'Times New Roman', Times, serif;"><b>&#x2B06; Enter Details to perform Registrations &#x2B06; </b></h2><br>

    <form method="post">
        {% csrf_token %}
        <table style="font-family: 'Times New Roman', Times, serif; width: 80%;" class="table table-bordered table-striped" align="center" border="1">
            <tr bgcolor="lightblue">
              <td style="width=80%;" align="center">Courses</td>
              <td align="center">Faculty</td>
            </tr>
            {% if m.c1 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c1.coursecode}}" name="c1" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c1.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select name="faculty_c1" style="width: 100%;">
                        <option value="">--Select--</option>
                          {% if m.f11 %}<option value="{{m.f11.mappingid}}">{{m.f11}}</option>{% endif %}
                          {% if m.f12 %}<option value="{{m.f12.mappingid}}">{{m.f12}}</option>{% endif %}
                          {% if m.f13 %}<option value="{{m.f13.mappingid}}">{{m.f13}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if m.c2 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c2.coursecode}}" name="c2" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c2.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select name="faculty_c2" style="width: 100%;">
                        <option value="">--Select--</option>
                        {% if m.f21 %}<option value="{{m.f21.mappingid}}">{{m.f21}}</option>{% endif %}
                        {% if m.f22 %}<option value="{{m.f22.mappingid}}">{{m.f22}}</option>{% endif %}
                        {% if m.f23 %}<option value="{{m.f23.mappingid}}">{{m.f23}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if m.c3 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c3.coursecode}}" name="c3" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c3.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select  name="faculty_c3" style="width: 100%;">
                        <option value="">--Select--</option>
                        {% if m.f31 %}<option value="{{m.f31.mappingid}}">{{m.f31}}</option>{% endif %}
                        {% if m.f32 %}<option value="{{m.f32.mappingid}}">{{m.f32}}</option>{% endif %}
                        {% if m.f33 %}<option value="{{m.f33.mappingid}}">{{m.f33}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if m.c4 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c4.coursecode}}" name="c4" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c1.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select name="faculty_c4" style="width: 100%;">
                        <option value="">--Select--</option>
                        {% if m.f41 %}<option value="{{m.f41.mappingid}}">{{m.f41}}</option>{% endif %}
                        {% if m.f42 %}<option value="{{m.f42.mappingid}}">{{m.f42}}</option>{% endif %}
                        {% if m.f43 %}<option value="{{m.f43.mappingid}}">{{m.f43}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if m.c5 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c5.coursecode}}" name="c5" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c5.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select name="faculty_c5"style="width: 100%;">
                        <option value="">--Select--</option>
                        {% if m.f51 %}<option value="{{m.f51.mappingid}}">{{m.f51}}</option>{% endif %}
                        {% if m.f52 %}<option value="{{m.f52.mappingid}}">{{m.f52}}</option>{% endif %}
                        {% if m.f53 %}<option value="{{m.f53.mappingid}}">{{m.f53}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if m.c6 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c6.coursecode}}" name="c6" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c6.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select name="faculty_c6" style="width: 100%;">
                        <option value="">--Select--</option>
                        {% if m.f61 %}<option value="{{m.f61.mappingid}}">{{m.f61}}</option>{% endif %}
                        {% if m.f62 %}<option value="{{m.f62.mappingid}}" >{{m.f62}}</option>{% endif %}
                        {% if m.f63 %}<option value="{{m.f63.mappingid}}" >{{m.f63}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}

            {% if m.c7 %}
            <tr>
                <td style="width: 70%;"><input type="text" value="{{m.c7.coursecode}}" name="c7" readonly style="width: 100%;" />&nbsp;<input type="text" value="{{m.c7.coursetitle}}" readonly style="width: 100%;" /></td>
                <td>
                    <select name="faculty_c7" style="width: 100%;">
                        <option value="">--Select--</option>
                        {% if m.f71 %}<option value="{{m.f71.mappingid}}">{{m.f71}}</option>{% endif %}
                        {% if m.f72 %}<option value="{{m.f72.mappingid}}">{{m.f72}}</option>{% endif %}
                        {% if m.f73 %}<option value="{{m.f73.mappingid}}">{{m.f73}}</option>{% endif %}
                    </select>
                </td>
            </tr>
            {% endif %}
        </table>
        <br>
        <input type="submit" value="SAVE" class="addbutton" />&nbsp;&nbsp;
        <input type="reset" value="CLEAR" class="addbutton" />
    </form>
</center>
{% endblock %}
