{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x25BC; Courses Available To View Internals &#x25BC;</b></h3><br>
    <table border="1" style="font-family: 'Times New Roman', Times, serif;">
        <tr bgcolor="lightblue">
            <td>Course</td>
            <td>Action</td>
        </tr>
        {% for i in x %}
         {% if i.cc1 %}
          <tr>
              <td>{{i.cc1.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc1.coursecode}}">GET</a></td>
          </tr>
         {% endif %}

          {% if i.cc2 %}
          <tr>
              <td>{{i.cc2.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc2.coursecode}}">GET</a></td>
          </tr>
          {% endif %}


        {% if i.cc3 %}
          <tr>
              <td>{{i.cc3.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc3.coursecode}}">GET</a></td>
          </tr>
        {% endif %}

        {% if i.cc4 %}
          <tr>
              <td>{{i.cc4.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc4.coursecode}}">GET</a></td>
          </tr>
        {% endif %}

        {% if i.cc5 %}
          <tr>
              <td>{{i.cc5.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc5.coursecode}}">GET</a></td>
          </tr>
        {% endif %}

        {% if i.cc6 %}
          <tr>
              <td>{{i.cc6.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc6.coursecode}}">GET</a></td>
          </tr>
        {% endif %}

        {% if i.cc7 %}
          <tr>
              <td>{{i.cc7.coursetitle}}</td>
              <td><a href="/sviewint1/{{i.cc7.coursecode}}">GET</a></td>
          </tr>
        {% endif %}

        {% endfor %}
    </table>
</center>

{% endblock %}