{% extends 'studenthome.html' %}

{% block 'body' %}
<center>
    <h3 style="font-family: 'Times New Roman', Times, serif; color:red;"><b>{{msg}}</b></h3><br>
    <h3 style="font-family: 'Times New Roman', Times, serif;"><b>&#x25BC;  Enter Details To View Internals &#x25BC; </b></h3><br>
    <div class="box">
    <form method="post", action="{% url 'sviewint0' %}">
        {% csrf_token %}
        <table  style="font-family: 'Times New Roman', Times, serif;">

        <tr>
            <td><label><b>Academic Year:</b></label></td>
            <td>
                <select name="ay" required>
                    <option value="">--Select--</option>
                    <option value="2023-2024">2023-2024</option>
                    <option value="2022-2023">2022-2023</option>
                </select>
            </td>
        </tr>

        <tr><td>&nbsp;</td></tr>
         <tr>
            <td><label><b>Semester:</b></label></td>
            <td>
                <select name="sem" required>
                    <option value="">--Select--</option>
                    <option value="ODD">ODD</option>
                    <option value="EVEN">EVEN</option>
                </select>
            </td>
        </tr>
            <tr><td>&nbsp;</td></tr>
        <tr>
            <td><input type="submit"  value="Submit" class="addbutton"/></td>
             <td><input type="reset"  value="Clear" class="addbutton"/></td>
        </tr>

    </table>

    </form>
        </div>
</center>
{% endblock %}