{% extends 'adminhome.html' %}

{% block 'body' %}
<h2 align="center" style="font-family: 'Times New Roman', Times, serif;"><b>&#10145; View Course Details &#11013;</b></h2>

<center>
    <input class="form-control" id="myInput" type="text" placeholder="Search">
    <table border="1" style="font-family: 'Times New Roman', Times, serif; margin-left:50px; font-size:14px;" align="center">

        <thead>
            <tr bgcolor="lightblue">
                <td>Department</td>
                <td>Program</td>
                <td>Academic Year</td>
                <td>Semester</td>
                <td>Year</td>
                <td>Course Code</td>
                <td>Course Title</td>
                <td>LTPS</td>
                <td>Course Credits</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody id="myTable">
            {% for course in coursesdata %}
            <tr align="center">
                <td>{{course.department}}</td>
                <td>{{course.program}}</td>
                <td>{{course.academicyear}}</td>
                <td>{{course.semester}}</td>
                <td>{{course.year}}</td>
                <td>{{course.coursecode}}</td>
                <td>{{course.coursetitle}}</td>
                <td>{{course.ltps}}</td>
                <td>{{course.credits}}</td>
                <td><a href="/updatecourse1/{{course.coursecode}}">UPDATE</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</center>

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
